
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutKullanici</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="container"> 
        <div class="jumbotron">
            @Html.ActionLink("Index", "Index", "Kullanici", new { @class = "col-2 btn btn-primary" })
            @Html.ActionLink("Evrak Oluştur", "Olustur", "Kullanici", new { @class = "col-3 btn btn-primary" })
            @Html.ActionLink("Evrak Takip", "Takip", "Kullanici", new { @class = "col-3 btn btn-primary" })
            @Html.ActionLink("Hatalı Evraklar", "Hata", "Kullanici", new { @class = "col-3 btn btn-primary" })
        </div>
    </div>

    <main role="main" class="container">
        @RenderBody()
    </main>
</body>
</html>
